.contactsection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 3, 77);
    gap: 30px;
    color : white;
}

.contacttop1 {
    display: flex;
    flex-direction: row ; 
    align-items: space-between;
    gap : 40px;

}

.contacttopinner{
    display: flex;
    flex-direction:row;
    gap: 20px;
}
.contacttop2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contactDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 0.0001px;
    padding: 20px 30px;
    background-color: rgb(94, 214, 235);
}


.parafont {
    font-size: 40px;
}

.contactButton{
    background-color: rgb(98, 87, 158);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

.santoriniHomeImage {
    position: relative;
    width: 1500px;
    height: 600px;
    object-fit: cover;
}

.santoriniHomeText {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}


.santoriniHomeButton{
    background-color: white;
    color: rgb(55, 60, 110);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.homeFormContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    display : flex;
    flex-direction : row;
    align-items: space-around;
    justify-content: center;
    gap: 90px;
   

}

.homeformitem1{
   text-align: left;
   font-size: medium;
}

.homeFormitem2{
    font-size: medium;
    text-align: left;
    margin-top: 20px;
    background-color: rgb(14, 18, 71);
    color: white;
    padding-left:50px;
    padding-right:50px;
    height : 10%;
    padding-bottom: 90px;
}

.custominput {
    width : 500px;
    height : 30px;
}

.custominput2 {
    width: 100%;
    height :150px;
}

.requestbutton {
  background-color: rgb(95, 78, 190);
    color: white;
    padding: 10px 20px;
    border-radius: none;
    font-size: 10px;
}

.reviewcontainer{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(187, 230, 238);
    padding-bottom: 10%;
    padding-top: 10%
}

.imgedit {
    height : 80px;
    width: 80px;
    border-radius: 50%;
}

.numbercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    background-color: rgb(15, 15, 82);
}

.h1font {
    color: white;
}


.servicescontainer{
    display: flex; 
    flex-direction: row;
    gap : 40px;
    padding-left :10%;
    padding-right :10%;
}


.serviceimg{
    height : 300px;
    width : 300px;
}

.imggalary {
    height : 250px;
    width : 250px;
}

.imgcontainer {
    display: flex;
    flex-direction: row;
    gap : 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;

}

.choosecontainer {
    display : flex;
    flex-direction : row; 
    padding-left:10%;
    gap : 50px;

}

.choosemain {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(9, 9, 68);
}


.ourroomhead{
    background-color: rgb(9, 9, 68);
    padding-top : 5%;
    padding-bottom: 5%;
    color : white;
}

.roombutton {
     font-size: 15px;
     background-color: rgb(95, 78, 190);
     color : white; 
     border-radius: none ;
     padding : 10px 20px;
}

.roomimgdetails {
    height : 500px;
    width :  500px;
}


.roomitem1 {
    display : flex;
    flex-direction: row;
    gap : 50px;
}

.roomitem2 {
    display: flex;
    flex-direction: row;
    gap : 50px;
}

.roomcontainer {
    display: flex;
    flex-direction: column;
    gap : 70px; 
    padding-left: 10%;
    padding-right : 5%;
}
